@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import '../css/fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');



// Breakpoints.

	@include breakpoints((
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Mixins.

	@mixin inner {
		> .inner {
			@include padding(4em, 0);
			margin: 0 auto;
			max-width: _size(inner);
			width: calc(100% - 6em);

			@include breakpoint('<=small') {
				@include padding(3em, 0);
				width: calc(100% - 3em);
			}


			.custom-carousel {
				display: flex;
				justify-content: center;
				align-items: center;

				.slider {
					border-radius: 5px;
					width: 100%;
					height: 100px;
					position: relative;
					background: #fff;
					display: flex;
					overflow: hidden;
					box-shadow: 10px 10px 20px -10px rgba(#fff, 0.8);

					.img-area {
						height: 100px;
						display: flex;
						align-items: center;
						animation: slideshow 20s linear infinite;

						img {
							height: 70px;
							padding: 0 30px 0 30px;
							transition: transform .3s ease-in-out;
						}

						img:hover {
							transform: scale(1.3);
						}
					}
				}

				.slider::before, .slider::after {
					height: 100px;
					width: 200px;
					position: absolute;
					content : "";
					background: linear-gradient(to right, #fff 0%, rgba(#000, 0) 100%);
					z-index: 2;
				}

				.slider::before {
					left: 0;
					top: 0;
				}
				.slider::after {
					right: 0;
					transform: rotateZ(180deg);
				}

			}
			.use-cases {
				display: grid;
				overflow: hidden;

				.major {
					margin-bottom: 0;
				}
				.use-case {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 20px;
					margin-bottom: 30px;
					.block {
						width: 400px;
						height: 200px;
						overflow: hidden;
	
	
						img {
							filter: grayscale(100%);
							-webkit-filter: grayscale(100%);
							width: 100%;
							height: 100%;
							transition: all 1.2s;
							cursor: pointer;
						}
	
						.blackLayer {
							width: 400px;
							height: 200px;
							background-color:rgba(#000, .3s);
							pointer-events: none;
							transition: all 1s;
						}
					}
	
					.block:hover img {
						transform: scale(1.5) rotate(5deg);
						filter: none;
						-webkit-filter: none;
					}
	
					.block:hover .blackLayer {
						transform: translateY(-410px);
					}
				}


				@include breakpoint('<=small') {
					.use-case {
						display: grid;
						grid-template-columns: repeat(1, 1fr);

					}
				}
			}
			.container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				max-width: 1100px;
				margin: 0 auto;
				overflow: auto;

				h2 {
					margin-top: 0;
				}

				span {
					font-size: 1.5rem;
					font-weight: 600;

				}

				.label {
					color: _palette(highlight);
				}

				
			}

			.collapse {
				max-width: 90vw;
				overflow: hidden;

				div{
					background: _palette(highlight);
					margin-bottom: 30px;
					border-radius: 5px;

				}

				label {
					margin: 0;
					position: relative;
					box-sizing: border-box;
					

					.details {
						position: absolute;
						top:10px;
						left: 20px;
						background: transparent;
						letter-spacing: 0;
						font-weight: 700;
						padding-right: 30px;

						h1 {
							font-size: 40px;
							margin-bottom: 0;
						}

						h1,h3 {
							transition: all .3s ease-in-out;
						}
						
					}

					img {
						width: 100%;
						height: 200px;
						padding: 0 5px;
						padding-top: 7px;
						border-radius: 10px;
						opacity: .5;
						transition: all .3s ease-in-out;
					}

					

					
				}

				label:hover {
					h1,h3 {
						background: rgba(0, 0, 0, .05);
					}


					img {
						opacity: .9;
						transform: scale(1.1);
					}
				}
			}

			.collapse__content {
				padding: 14px 20px;
			}

			.collapse__label {
				display: block;
				color: #fff;
				font-weight: 700;
				cursor: pointer;
				position: relative;
				transition: background .4s;
			}

			.collapse__label:hover{
				background: rgba(0, 0, 0, .1);
			}

			.collapse__content {
				background: #fff;
				color: #000;
				display: none;
			}

			.collapse__input{
				display: none !important;
				
			}

			.collapse__input:checked ~ .collapse__content {
				display: block;
				
			}


			@include breakpoint('<=small'){
				.container{
					display: flex;
					flex-direction: column;
					justify-content: start;
				}
			}

			
		}
	}

	@keyframes slideshow {
		0% {transform: translateX(0);}
		100% {transform: translateX(-100%);}
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/pagination';
	@import 'components/table';
	@import 'components/button';
	@import 'components/tiles';
	@import 'components/contact-method';
	@import 'components/spotlights';
	@import 'components/card';

// Layout.

	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/contact';
	@import 'layout/footer';
	@import 'layout/wrapper';
	@import 'layout/menu';