.collapse {
    max-width: 90vw;
    overflow: hidden;

    div{
        background: _palette(highlight);
        margin-bottom: 30px;
        border-radius: 5px;

    }

    label {
        margin: 0;
        position: relative;
        box-sizing: border-box;
        

        .details {
            position: absolute;
            top:10px;
            left: 20px;
            background: transparent;
            letter-spacing: 0;
            font-weight: 700;
            padding-right: 30px;

            h1 {
                font-size: 40px;
                margin-bottom: 0;
            }

            h1,h3 {
                transition: all .3s ease-in-out;
            }
            
        }

        img {
            width: 100%;
            height: 200px;
            padding: 0 5px;
            padding-top: 7px;
            border-radius: 10px;
            opacity: .5;
            transition: all .3s ease-in-out;
        }

        

        
    }

    label:hover {
        h1,h3 {
            background: rgba(0, 0, 0, .05);
        }


        img {
            opacity: .9;
            transform: scale(1.1);
        }
    }
}

.collapse__content {
    padding: 14px 20px;
}

.collapse__label {
    display: block;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: background .4s;
}

.collapse__label:hover{
    background: rgba(0, 0, 0, .1);
}

.collapse__content {
    background: #fff;
    color: #000;
    display: none;
}

.collapse__input{
    display: none !important;
    
}

.collapse__input:checked ~ .collapse__content {
    display: block;
    
}
